{% extends 'mainTemplate.html' %}

    {%block body%}
    <!-- Tests -->
    <div id="tests" class="bg-white">
        <div class="col-12 text-center area">
            <h2>
                انجام انواع تست های روانشناختی کودک بصورت آنلاین 
            </h2>
            <p>
                ویژگی و استعداد های کودک خود را با انجام چند تست ساده کشف کنید و باعث پیشرفت کودک خود شوید!
            </p>
            <a href="#" class="btn btn-secondary">
                شروع تست آنلاین 
            </a>
        </div>

    </div>
    <!-- End Tests -->
    
    <!-- Services -->
    <div id="services" >
        <div class="jumbotron">
            <div class="area text-center">
                <div class="col-12 text-center">
                    <h2 class="title">خدمات مرکز مشاوره آداک</h2>
                    <div class="underline"></div>
                </div>
                <div class="row text-center">
                    <div class="col-4">
                        <div class="service">
                            <i class="fa fa-play-circle fa-3x"></i>
                            <h3>ویدئو آموزشی</h3>
                            <p>مهمترین خدمات ما در مرکز مشاوره آداک ارائه ویدئوهای آموزشی با برترین اساتید در زمینه های مختلف چگونگی برخورد و رفتار با کودک</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="service">
                            <i class="fa fa-file fa-3x"></i>
                            <h3>مقالات</h3>
                            <p>یکی دیگر از خدمات سایت آداک ارائه آخرین مطالب علمی در حوزه های مختلف چگونگی رابطه اعضای خانواده با کودک در قالب مقالات و پست ها </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="service">
                            <i class="fa fa-edit fa-3x"></i>
                            <h3>آزمون ها</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->
    {%endblock body%}


